/* hero banner start */
.hero-banner {
	height: 100vh;
	.hero-banner-content {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: left;
		flex-direction: column;
		.banner-title {
			color: $brand-primary;
			font-size: 60px;
			line-height: 60px;
			font-weight: 600;
			text-transform: uppercase;
			padding: 30px 0 35px;
		}
		.banner-subtitle {
			color: $white;
			font-size: 30px;
			line-height: 30px;
			text-transform: uppercase
		}
	}
}
/* hero banner end */
/* about section start */
.bio-table {
	table {
		width: 425px;
	}
}
/* about section end */
/* knowledge section start */
.feature-box {
	.feature-title {
		color: $brand-primary;
		margin-bottom: 15px;
		i {
			display: inline-block;
			margin-right: 25px;
			font-size: 28px;
		}
		h4 {
			display: inline-block;
		}
	}
}
.skill {
	h4 {
		color: $headings-color;
		margin-bottom: 10px;
		span {
			margin-left: 50px;
		}
	}
	.progress {
		box-shadow: none;
		border-radius: 0;
		background-color: #d6d6d6;
		.progress-bar {
			background-color: $brand-primary;
			-webkit-box-shadow: none;
		}
	}
}
/* knowledge section end */
/*experience section start*/
.experience-item {
	.duration {
		color: $brand-primary;
		font-size: 30px;
		font-family: $headings-font-family;
		line-height: 30px;
		border: 8px solid $brand-primary;
		text-align: center;
		padding: 50px 0;
	}
	.content {
		.title {
			color: $headings-color;
			text-transform: uppercase;
			margin: 7px 0;
			font-size: 24px;
		}
		.designation {
			color: $brand-primary;
			font-size: 16px;
		}

	}
}
/*experience section end*/

/*portfolio section start*/
.portfolio-wrap {
	.portfolio-item {
		.portfolio-thumb {
			position: relative;
			img {
				max-width: 100%;
			}		
			.overley {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: block;
				background: rgba(0,0,0,0.5);
				opacity: 0;
				transform: scale(0);
				transition: all 0.3s;
				.portfolio-title {
					color: $white;
					position: relative;
					width: 100%;
					height: 40px;
					top: 50%;
					margin-top: -35px;
					text-align: center;
					left: 0;
					text-transform: uppercase;
					h4 {
						
					}
					i {
						color: $white;
						font-size: 18px;
						margin-left: 15px;
						width: 42px;
						height: 42px;
						border: 1px solid #eee;
						line-height: 36px;
						margin-bottom: 20px;
						margin-left: -3px;
						transition: all 0.3s;
						&:hover {
							border-color: $brand-primary;
							background: $brand-primary;
						}
					}
				}
			}
		}
		&:hover {
			.overley {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
	.grid-item { width: 25%; padding: 10px;}
	.grid-item--width2 { width: 50%; }
}
/*portfolio section end*/

/*reference section start*/
.testimonial-carousel {
	position: relative;
	z-index: 2;
	.testimonial-item {
		.testimonial-content {
			width: 60%;
			h4 {
				color: $brand-primary;
				text-transform: uppercase;
				padding: 30px 0 0;
			}
		}
		.testimonial-avatar {
			img {
				width: 100px;
				height: 100px;
				border-radius: 100%;
			}
		}
	}
	&.right-align {
		.testimonial-item {
			.testimonial-content {
				float: right;
			}
			.testimonial-avatar {
				float: right;
				margin-left: 20px;
			}
		}
		.owl-dots {
			text-align: right;
			transform: translate3d(-10px,-40px,0);
		}
	}
	&.left-align {
		.testimonial-item {
			.testimonial-content {
				float: left;
			}
			.testimonial-avatar {
				float: left;
				margin-right: 20px;
			}
		}
		.owl-dots{
			text-align: right;
		}
	}
}
.client-logo {
	position: relative;
	z-index: 2;
	img {
		opacity: 0.5;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}
	&:hover {
		img {
			opacity: 1;
		}
	}
}
/*reference section end*/

/*blog section start*/
.blog-post-list {
	.blog-post-item {
		position: relative;
		.thumb-wrap {
			position: relative;
			.blog-post-content {
				background: $white;
				position: absolute;
				top: 50%;
				padding: 40px 30px;
				margin-top: -90px;
				width: 110%;
				transition: all 0.3s;
				.blog-post-title {
					font-size: 18px;
					color: $brand-primary;
					margin-bottom: 10px;
					text-transform: uppercase;
				}
				.blog-post-meta {
					margin-bottom: 10px;
					display: block;
					i {
						margin-right: 15px;
					}
				}
			}
		}
		&.normal {
			.blog-post-content {
				left: 88%;
			}
		}
		&.reverse {
			text-align: right;
				.blog-post-content {
					right: 90%;
				}
			
		}
		&:hover {
			.blog-post-content {
				box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
			}
		}
	}
}
/*blog section end*/

/*contact section start*/
.foot-widget {
	i {
		margin-right: 15px;
	}
}
.contact-form {
	position: relative;
	z-index: 2;
	input[type=text],
	input[type=email] {
		background: transparent;
		height: 50px;
		color: $white;
		border: 0;
		border-radius: 0;
		border-bottom: 1px solid #eee;
		box-shadow: none;
		&:focus {
			box-shadow: none;
			border-bottom: 1px solid $brand-primary;
		}
	}
	textarea {
		background: transparent;
		color: $white;
		border: 0;
		border-radius: 0;
		border-bottom: 1px solid #eee;
		&:focus {
			box-shadow: none;
			border-bottom: 1px solid $brand-primary;
		}
	}
}

ul.social-icon {
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
		display: inline-block;
		list-style: none;
		text-align: center;
		a {
			i {
				color: $headings-color;
				background: #ddd;
				width: 42px;
				height: 42px;
				font-size: 32px;
				line-height: 42px;
				transition: all 0.3s;
			}
			&:hover {
				i {
					color: $white;
					background: $brand-primary;
				}
			}
		}
	}
}
.copyright-text {
	a {
		color: $brand-primary;
	}
}
/*contact section end*/

/*blog page start*/
.mass-banner-content {
	.banner-title {
		color: $white;
		font-size: 30px;
		text-transform: uppercase;
	}
}
.blog-content {
	.blog-thumbnail {
		margin-bottom: 30px;
	}
	.meta-info {
		.date {
			i {
				margin-right: 15px;
			}
		}
	}
	.blog-post-title {
		color: $headings-color;
		text-transform: uppercase;
		line-height: 30px;
		padding: 25px 0;
	}
}
.comment-form {
	.comment-form-title {
		color: $headings-color;
		margin-bottom: 30px;
	}
	input[type=text],
	input[type=email] {
		box-shadow:none;
		height: 50px;
		border-radius: 0;
		border: 0;
		border-bottom: 1px solid #ddd;
		&:focus {
			border-color: $brand-primary;
		}
	}
	textarea {
		border: 0;
		border-bottom: 1px solid #ddd;
		width: 100%;
		margin-bottom: 20px;
	}
}
/*blog page end*/
