/* 1.1  global & override */
body {
	font-family: $text-font-family;
	color: $text-color;
	font-size: 14px;
    line-height: 1.6em;
    -webkit-backface-visibility: hidden;
}
::-moz-selection {
    background: #1bbde8;
    color: #fff;
    text-shadow: none;
    outline: none;
}
::selection {
    background: #1bbde8;
    color: #fff;
    text-shadow: none;
    outline: none;
}
.btn {
    padding: 18px 36px;
    border-radius: 50px;
    border:0;
    &.btn-primary {
        background: $brand-primary;
        color: $white;
        font-family: $headings-font-family;
        font-size: 16px;
        line-height: 16px;


    }
}
.brand-text-color {
    color: $brand-primary;
}
.indicator {
    width: 45px;
    height: 80px;
    position: absolute;
    transform: translateY(-200px);
    text-align: center;
    padding-top: 10px;
    &.light {
        background: $white;
        color: $black;
    }
    &.dark {
        background: #1b1b1b;
        color: $white;
    }
    &.brand {
        background: $brand-primary;
        color: $white;
    }
    &.left {
        left: 0;
    }
    &.right {
        right: 0;
    } 
    &:hover {
        background: $brand-primary;
        color: $white;
    }
}
/* 1.2  Typography */
h1 {
	font-family: $headings-font-family;
	font-weight: 400;
	margin: 0;
}
h2{
	@extend h1;
}
h3{
	@extend h1;
}
h4{
	@extend h1;
}
h5{
	@extend h1;
}
h6{
	@extend h1;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center
}
.img-center {
    margin-left: auto;
    margin-right: auto;
}
.text-right {
	text-align: right
}
.ttu {
    text-transform: uppercase;
}
a {
	-webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
        color: $text-color;
        outline: 0;
    }
}
.section-title {
    .title-text {
        color: $headings-color;
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 60px;
        text-transform: uppercase;
    }
    .sm-title-text {
        @extend .title-text;
        font-size: 30px;
        margin-bottom: 30px;
    }
    .subtitle-text {
        color: $brand-primary;
        font-size: 20px;
        line-height: 1.5em;
        margin-bottom: 40px;
    }
}
.alter-text {
    color: $alter-text-color;
    .section-title {
        .title-text {
            color: $alter-headings-color;
        }
        .subtitle-text {
            color: $white;
        }
    }
    .skill {
        h4 {
            color: $alter-headings-color;
        }
        .progress {
            background-color: #505050;
            .progress-bar {
            }
        }
    }
}
/* 1.3 Margins & Paddings */
.mt15 {
    margin-top: 15px;
}
.mt60 {
    margin-top: 60px;
}
.mt65 {
    margin-top: 65px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb30 {
    margin-bottom: 30px;
}
.mb40 {
    margin-bottom: 40px;
}
.mb50 {
    margin-bottom: 50px;
}
.mb60 {
    margin-bottom: 60px;
}
.pad80 {
    padding: 80px 0;
}
.pad120 {
    padding: 120px 0;
}
.pad-bottom60 {
    padding-bottom: 60px;
}
.pad-top90 {
    padding-top: 90px;
}
.pad-top120 {
    padding-top: 120px;
}
.no-pad {
    padding: 0;
}
.mass-head-pad {
    padding: 210px 0 100px;
}
.rotate-45deg {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* 1.4 Backgrounds */
.bg-color-brand {
    background: $brand-primary;
}
.bg-color-dark {
    background: #1b1b1b;
}
.parallax {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0;
    background-size: cover;
}
.bg-img-1 {
    background-image: url('../images/bg-img/bg-img-1.jpg');
}
.bg-img-2 {
    background-image: url('../images/bg-img/bg-img-2.jpg');
}
.bg-img-3 {
    background-image: url('../images/bg-img/bg-img-3.jpg');
}
.dark-overley {
    position: relative;
    z-index: -2;
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: -1;
    }
}