@import 'partials/variable';
/* 05 responsive styles */
//large display
@media screen and (min-width: 769px) {
	.md-mb40 {
		margin-bottom: 40px;
	}
	.translateY130 {
		transform: translateY(130px);
	}
	.translateY140 {
		transform: translateY(140px);
	}
	.translateY150 {
		transform: translateY(150px);
	}
}
//small display
@media screen and (max-width: 991px) and (min-width: 768px) {
	.pad120 {
		padding: 40px 0;
	}
	.pad-t120 {
		padding-top: 40px;
	}
	.sm-pad-b {
		padding-bottom: 40px;
	}
	.mt60,
	.mt65 {
		margin-top: 30px;
	}
	.sm-mb30 {
		margin-bottom: 30px;
	}
	.sm-mb40 {
		margin-bottom: 40px;
	}
	.parallax {
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: 50% 0;
		background-size: cover;
	}
}
//extra small display
@media screen and (max-width: 768px) {
	.pad-top120 {
		padding-top: 30px;
	}
	.pad120 {
		padding: 30px 0;
	}
	.pad-t90 {
		padding-top: 30px;
	}
	.pad-t120 {
		padding-top: 30px;
	}
	.mt60 {
		margin-top: 10px;
	}
	.mt65 {
		margin-top: 15px;
	}
	.xs-mb30 {
		margin-bottom: 30px;
	}
	.xs-mb40 {
		margin-bottom: 40px;
	}
	.mass-head-pad {
		padding: 120px 0 60px;
	}
	.indicator {
		transform: translateY(-110px);
	}
	.section-title {
		.title-text {
			font-size: 40px;
			line-height: 40px;
			margin-bottom: 20px;
		}
		.sm-title-text {
			@extend .title-text;
			font-size: 30px;
			margin-bottom: 30px;
		}
		.subtitle-text {
			margin-bottom: 20px;
		}
	}
	.bio-table {
		table {
			width: 100%;
		}
	}
	.experience-item {
		.duration {
			font-size: 25px;
			font-family: $headings-font-family;
			line-height: 25px;
			padding: 50px 0;
		}
	}
	.testimonial-carousel {
		position: relative;
		.testimonial-item {
			.testimonial-content {
				text-align: center;
				width: 100%;
				h4 {
					color: $brand-primary;
					text-transform: uppercase;
					padding: 30px 0 0;
				}
			}
			.testimonial-avatar {
				img {
					margin: 0 auto 20px;
					width: 100px;
					height: 100px;
					border-radius: 100%;
				}
			}
		}
		&.right-align {
			.testimonial-item {
				.testimonial-content {
					float: none;
					margin-bottom: 30px;
				}
				.testimonial-avatar {
					float: none;
				}
			}
			.owl-dots {
				text-align: center;
				transform: translate3d(0,0,0);
			}
		}
		&.left-align {
			.testimonial-item {
				.testimonial-content {
					float: none;
				}
				.testimonial-avatar {
					float: none;
				}
			}
			.owl-dots{
				text-align: center;
				transform: translate3d(0,0,0);
			}
		}
	}
	.blog-post-list {
		.blog-post-item {
			position: relative;
			.thumb-wrap {
				position: relative;
				float: left;
				.blog-post-content {
					position: relative;
					top: 0;
					left: 0;
					float: left;
					background: #fafafa;
					width: 100%;
				}
			}
		}
	}
	ul.social-icon {
		margin: 0 0 30px;
	}
	.counter-box {
		text-align: center;
		margin-bottom: 30px;
		.counter-icon {
			margin-bottom: 5px;
			i {
				&:before {
					font-size: 30px;
					color: $brand-primary;
				}
			}
		}
		.counter-content {
			.counter {
				color: $white;
				font-size: 30px;
				margin-bottom: 10px;
			}
			h4 {
				color: $white;
				letter-spacing: 1px;
			}
		}
	}
	.mass-head-content h2.page-title {
		line-height: 40px;
		margin-top: 10px;
	}
	.footer-contact {
		&.text-right,
		&.text-left {
			text-align: center;
		}
	}
	.footer-icon {
		i {
			&:before {
				color: $brand-primary;
				font-size: 30px;
				line-height: 40px;
			}
		}
	}
}
/* 05 responsive styles */